<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/img/Logo.png" alt="Logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="../assets/img/menu burger.png" height="30" width="30" alt="menu">
        </a>
      </li>
    </ul>
  </div>
</nav>
<section class="set-1">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1 class="text1"><strong class="color-text">Our</strong><br>differentiators</h1>
        <h2 class="text2"><strong class="negrita">Over</strong><strong class="color-text"> 10</strong>
          <strong class="negrita"> years</strong><br>of experience</h2>
        <h2 class="text2"><strong class="color-text">90</strong><strong class="negrita"> + Employees</strong>
          around the world</h2>
      </div>
      <div class="col-sm">
        <img class="img" src="../assets/img/Ilustración Header.png" alt="">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="text3"><strong class="color-text">Our</strong><br>Services</h2>
    <div class="row">
      <div class="col-sm">
        <img class="img-sec2" src="../assets/img/ícono 1.png" alt="">
        <h3 class="titulo-section2">Delivery Team</h3>
        <p class="parrafo1-section2">Preparamos el <b>equipo ideal para tu proyecto</b> teniendo en cuenta la
          experiencia de cada integrante de nuestro staff.</p>
        <button type="button" class="btn btn-outline-danger">Your team</button>
      </div>
      <div class="col-sm">
        <img class="img-sec2" src="../assets/img/ícono 2.png" alt="">
        <h3 class="titulo-section2">Staff Augmentation</h3>
        <p class="parrafo-section2"><b>¡Potenciá tus servicios!</b> Desde Avalith te brindamos respaldo en
          momentos donde más necesitas soporte para tus proyectos..</p>
        <button type="button" class="btn btn-outline-danger">Let´s go bigger</button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="img1-sec2" src="../assets/img/ícono 3.png" alt="">
        <h3 class="titulo-section2">MVP Development</h3>
        <p class="parrafo-section2">Crear un MVP para cada proyecto nos ayuda a evaluar
          de forma rápida y cuantitativa si la propuesta en cuestión es de valor para sus futuros usuarios.</p>
        <button type="button" class="btn btn-outline-danger">Let´s do it</button>
      </div>
      <div class="col-sm">
        <img class="img1-sec2" src="../assets/img/ícono 4.png" alt="">
        <h3 class="titulo-section2">Project Strategy</h3>
        <p class="parrafo1-section2">Cada proyecto es único y está formado por distintas fases que requieren
          tareas específicas, un equipo de trabajo concreto.</p>
        <button type="button" class="btn btn-outline-danger">Think with us</button>
      </div>
    </div>
  </div>
</section>
<section class="sec3">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <img class="img" src="../assets/img/Tecnologías.png" alt="">
      </div>
      <div class="col-sm-5">
        <h2 class="text2"><strong class="color-text">Our</strong><br>technologies</h2>
        <p class="parrafo-section3">We work on several cutting edge tenchnoly and
          we keep our team and us learning about them and new ones that could benefit a future project</p>
        <button type="button" class="btn btn-outline-danger">Let´s begin</button>
      </div>
    </div>
  </div>
</section>
<section class="sec4">
  <div class="container">
    <h2 class="text3"><strong class="color-text">4 beneficios</strong> por los cuales<br> trabajar con nosotros.</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-5.5">
            <h3 class="titulo-section2"><strong class="color-text">1.</strong> Flexible Contracts</h3>
            <p class="parrafo-section4">Ofrecemos <b>contratos a corto y largo<br> plazo,</b> con cancelación flexible
            </p>
          </div>
          <div class="col-sm-2.5">
            <img class="img-sec2" src="../assets/img/Item 1.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-5.5">
            <h3 class="titulo-section2"><strong class="color-text">2.</strong> Account Manager</h3>
            <p class="parrafo-section4">Listo para escalar tu equipo,<br><b>disponibilidad full-time.</b></p>
          </div>
          <div class="col-sm-2.5">
            <img class="img-sec2" src="../assets/img/Item 2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-5.5">
            <h3 class="titulo-section2"><strong class="color-text">3.</strong> Monthly Billing</h3>
            <p class="parrafo-section4">Ofrecemos <b>contratos a corto y largo<br> plazo,</b> con cancelación flexible
            </p>
          </div>
          <div class="col-sm-2.5">
            <img class="img-sec2" src="../assets/img/Item 3.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-5.5">
            <h3 class="titulo-section2"><strong class="color-text">4.</strong> Recruitment</h3>
            <p class="parrafo-section4">Contamos con un equipo focalizado en<br> conseguir talentos las 24hs del día.
            </p>
          </div>
          <div class="col-sm-2.5">
            <img class="img-sec2" src="../assets/img/Item 4.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec6">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-9">
            <h1 class="titulo-section6"><strong class="color-text">We are</strong></h1>
            <h1 class="parrafo-section6">una empresa joven con ideas nuevas,
              enfocados en crecer continuamente.</h1>
            <button type="button" class="btn-sec6">Get in touch</button>
          </div>
          <div class="col-sm-3">
            <h1 class="palabra-sec6"><br><br>About us</h1>
            <hr width="25%" class="sec6-hr" noshade="noshade" align="left"/>
            <h1 class="palabra-sec6">Services</h1>
            <hr width="25%" class="sec6-hr" noshade="noshade" align="left"/>
            <h1 class="palabra-sec6">Carrers</h1>
            <hr width="25%" class="sec6-hr" noshade="noshade" align="left"/>
            <h1 class="palabra-sec6">Our partners</h1>
            <hr width="25%" class="sec6-hr" noshade="noshade" align="left"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <hr />
  <footer>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <p class="footer-negrita">Contact us</p>
        <p class="footer-contacto">hello@avalith.net</p>
        <p class="footer-contacto">+54 0223 464-4850</p>
        <p class="footer-pequena">All rights reserved 2020. Tres Cubos S.A.</p>
      </div>
      <div class="col-xs-6 col-sm-3">
        <p class="footer-negrita">Subscribe to us</p>
        <input type="text" class="footer-input" placeholder="Enter your email here">
        <div class="row">
          <div class="col-sm-5.5">
            <p class="footer-subscrip">Privacy Policy</p>
          </div>
          <div class="col-sm-5.5">
            <p class="footer-subscrip">Terms of Service</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <p class="footer-negrita">Follow us</p>
        <img class="footer-img" src="../assets/img/Linkedin.png" alt="">
        <img class="footer-img" src="../assets/img/Face.png" alt="">
        <img class="footer-img" src="../assets/img/Twitter.png" alt="">
        <img class="footer-img" src="../assets/img/Ig.png" alt="">
        <p class="footer-pequena">Contract</p>
      </div>
      <div class="col-xs-6 col-sm-3">
        <img class="img-sec2" src="../assets/img/Logo.png" alt="">
      </div>
    </div>
  </footer>
</div>